<div class="container" [formGroup]="loginForm">
    <div class="welcome-header">Login</div>
    <div class="mobileInputContainer">
        <div class="floatLabel">
            <p-floatLabel>
                <input type="text" autocomplete="off" pInputText id="email" formControlName="email" />
                <label for="email">Email</label>
            </p-floatLabel>
        </div>
        <div class="floatLabel">
            <p-floatLabel>
                <p-password id="password1" type="password" class="w-full" [feedback]="false"
                    formControlName="password" styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [toggleMask]="true"></p-password>
                <label for="password">Password</label>
            </p-floatLabel>
        </div>
        <div class="midLinks">By continuing, I agree to the <a href="/termsofuse">Terms of Use</a> &amp;
            <a href="/privacypolicy">Privacy Policy</a>
        </div>
        <button pButton pRipple label="Submit" (click)="onSubmit(loginForm.value)"></button>
    </div>

</div>